body {
    background-color: lightgreen;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}

header {
    background: linear-gradient(to right, black, red, green, yellow);
    color: lightgreen;
    padding: 10px;
    font-size: 16px;
}

footer {
    background-color: black;
    color: lightgreen;
    padding: 10px;
    font-size: 16px;
    text-align: right;
}

a:visited {
    color: rgb(81, 6, 6);
    text-decoration: underline;
    background-color: grey;
    font-weight: bold;
}

a:hover {
    color: red;
    text-decoration: underline;
    background-color: white;
    font-weight: bold;
}

a:active {
    color: pink;
    background-color: green;
}